body
{
	line-height: 1.6em;
}

.main-table tr.hat-highlight td
{
color: #F87217;
}

.main-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	min-width: 700px;
	border-collapse: collapse;
	text-align: left;
}
.main-table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.main-table th.noborder
{
	border-bottom: none;
	padding: 10px 0px;
}
.main-table td
{
	border-bottom: 1px solid #ccc;
	color: #333333;
	padding: 6px 8px;
    font-size: 14px;
}
.main-table td.noborder
{
	border-bottom: none;
	padding: 6px 2px;
}
.main-table tbody tr:hover td
{
    background-color: #F7F7F7;
}

.table-section-header {
    text-align:center;
    font-size: 23px !important;
    font-weight: bold;
    background-color: #EEEEEE;
    padding: 10px 5px !important;
    border-bottom: 1px solid #000000 !important;
    margin-top: 10px !important;
}

.table-section-header:hover {
    background-color: #EEEEEE !important;
}

.main-table img {
    width:80px;
}

.vintage-quality {
    border-left: 9px solid #476291;
}
.vintage-quality td {
    color: #476291;
}

.strange-quality {
    border-left: 9px solid #CF6A32;
}
.strange-quality td {
    color: #CF6A32;
}

.haunted-quality {
    border-left: 9px solid #38F3AB;
}
.haunted-quality td {
    color: #38F3AB;
}

.genuine-quality {
    border-left: 9px solid #4D7455;
}
.genuine-quality td {
    color: #4D7455;
}

.unusual-quality {
    border-left: 9px solid #8650AC;
}
.unusual-quality td {
    color: #8650AC;
}
